.row{
	
}


#game-space {
	padding: 1vw;
	width: 100%;

}

.block{

	height: 50px;	
	
	background-size: contain;
}


#horizontal-list ul, li{
	display: inline;	
}

#resource-list{
	margin: 0 auto;
	width: 80%;
	text-align: center;
}



#card-table{
	width: 100%;
	text-align: center;
}

.start-game{
	border: 1px solid black;
	min-height: 20vh;
	width: 30vw;
	text-align: center;
	
	margin: auto;
}

.start-game:hover{
	border: 2px solid black;
	background-color: gainsboro;
}

.resource-card {
	border: 1px solid black;
	min-height: 25vh;
	padding: 12px 5px;
	margin: auto 1vw;
	border-radius: 0.3vw;
	width: 16vw;
	display: inline-block;
	/*
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	*/	
	vertical-align: top;	
}

.resource-card:hover{
	border: 2px solid black;
	background-color: gainsboro;
}

.resource-card > div {
	width: 4vw;
	height: 4vw;
	
	margin: 0 auto;
	background-size: contain;
}


#turn{
	border: 1px solid black;
	border-radius: 2px;
	width: 8vw;
	text-align: center;
	margin: auto auto;
}

#scene{
	text-align:center;
	padding: 2vh 0 12vh 0;
	height: 12vh;

}

#past-choices{
	text-align: center;	
}

.resource-bar > ul {
	list-style: none;	
	margin-top: 5vh;
	text-align: center
}

.resource-bar > ul > li {
	display: inline;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1vh 1vw;
	margin: 0 2vw;
}