.row{
	
}

#game-space {
	padding: 1vw;
	width: 100%;
}

#card-table{
	width: 100%;
	text-align: center;
}

.resource-card {
	border: 1px solid black;
	min-height: 20vh;
	border: 1px solid grey;
	padding: 12px 5px;
	margin: auto 1vw;
	border-radius: 0.3vw;
	width: 16vw;
	display: inline-block;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	vertical-align: top;	
}



ul#horizontal-list {
	min-width: 50px;
	list-style: none;
	padding-top: 20px;
	text-align: center;
}

ul#horizontal-list li{
	display: inline;
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px 3px;
	min-width: 23w;
}




#turn{
	border: 1px solid black;
	border-radius: 2px;
	width: 8vw;
	text-align: center;
	margin: auto auto;
}

#scene{

}